/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif; */
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

main {
  background-color: #2B2733;
  display: flex;
}

.right-panel {
  flex-grow: 1;
  background-color: #2B2733;
  border-left: 1px;
  border-color: #46424D;
  border-style: solid;
  border-top: 0
}

section {
  flex-grow: 2;
}

.panel-title {
  background-color: #2B2733;
  color: #FFF;
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
}


.left-panel {
  background-color: #46424D;
  margin: 10px;
  margin-left: 20px;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #46424D;
  color: #FFF;
  font-weight: 300;
  padding: 10px;
}



img {
  width: 25px;
  height: 25px;
  margin: 5px 0 5px 0;
}

.button-box {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #46424D;
  border-color: #FFF;
  border-style: solid;
  color: #FFF;
  width: 175px;
  height: 80px;
}

h4 {
  margin: 5px 0 5px 0;
}
