/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif; */
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

main {
  background-color: #2B2733;
  display: flex;
  height: 100%
}

.right-panel {
  flex-grow: 1;
  background-color: #2B2733;
  border-left: 3px;
  border-color: #46424D;
  border-style: solid;
  border-top: 0
}

section {
  flex-grow: 2;
  overflow: auto;
}

.panel-title {
  background-color: #2B2733;
  color: #CBC9CF;
  font-size: 21px;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}


.left-panel {
  display: flex;
  flex-direction: column;
  background-color: #46424D;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 50px;
  height: 100%
}
.timer-panel  {
  display: flex;
  flex-direction: column;
  background-color: #46424D;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 50px;
  height: 100%;
}
h1 {
  color: #FFF;
  text-align: center;
  margin-top: 0;
  font-size: 55px;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}

#activity-description {
  text-align: center;
  color: #CBC9CF;
  margin: 30px 0 5px 0;

}
.start-button {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  background-color: #46424D;
  color: #CBC9CF;
  outline: none;
  box-shadow: none;
  border-color: #C278FD;
  border-style: solid;
  align-self: center;
  font-size: 18px;
}
header {
  display: flex;
  justify-content: space-around;
  background-color: #46424D;
  color: #FFF;
  font-weight: 300;
  padding: 10px;
}

.button-box {
  display: flex;
  justify-content: space-between;
}

.study-button, .meditate-button, .exercise-button {
  background-color: #46424D;
  border-color: #FFF;
  border-style: solid;
  border-radius: 5px;
  color: #FFF;
  width: 150px;
  height: 65px;
}
.study-style {
  border-color: #B3FD78;
  color: #B3FD78;
  outline: none;
  box-shadow: none;
}
.meditate-style {
  border-color: #C278FD;
  color: #C278FD;
  outline: none;
  box-shadow: none;
}
.exercise-style {
  border-color: #FD8078;
  color: #FD8078;
  outline: none;
  box-shadow: none;
}
h4 {
  margin: 5px 0 0 0;
}

img {
  height: 25px;
  width: 25px;
}

.category-choice {
  padding-top: 38px;
  color: #FFF;
}

.middle-box {
  display:flex;
  flex-direction: column;
  margin-top: 60px;
}

span {
  color: #FFF;
}

#activity-choice, #total-minutes, #total-seconds {
  background-color: #46424D;
  color: #CBC9CF;
  border: none;
  border-bottom: 1px solid #FFF;
}

.time-box {
  display: flex;
}

.time-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px;
}

#total-minutes {
  margin-right: 80px;
}

input {
  margin-top: 15px;
}

.start-activity-button {
  color: #46424D;
  align-self: flex-end;
  right: 85px;
  bottom: 100px;
  height: 36px;
  width: 200px;
  margin-top: 50px;
  border-radius: 5px;
}
.right-text {
  color: #CBC9CF;
  text-align: center;
}
.hidden {
  display: none;
}
