/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif; */
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

main {
  background-color: #2B2733;
  display: flex;
  height: 100%
}

.right-panel {
  flex-grow: 1;
  background-color: #2B2733;
  border-left: 3px;
  border-color: #46424D;
  border-style: solid;
  border-top: 0
}

section {
  flex-grow: 2;
  position: relative;
  overflow: auto;
}

.panel-title {
  background-color: #2B2733;
  color: #CBC9CF;
  font-size: 21px;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}


.left-panel {
  display: flex;
  flex-direction: column;
  background-color: #46424D;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 50px;
  height: 100%
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #46424D;
  color: #FFF;
  font-weight: 300;
  padding: 10px;
}


.button-box {
  display: flex;
  justify-content: space-between;
}

#study-button, #meditate-button, #exercise-button{
  background-color: #46424D;
  border-color: #FFF;
  border-style: solid;
  border-radius: 5px;
  color: #FFF;
  width: 150px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: right 50% top 20%;
  background-size: 25px;
}

#study-button {
  background-image: url('./assets/study.svg');
}

#meditate-button {
  background-image: url('./assets/meditate.svg');
}

#exercise-button {
  background-image: url('./assets/exercise.svg');
}

#study-button:hover {
  border-color: #B3FD78;
  color: #B3FD78;
  background-image: url('./assets/study-active.svg');
}
#meditate-button:hover {
  border-color: #C278FD;
  color: #C278FD;
  background-image: url("./assets/meditate-active.svg")
}
#exercise-button:hover {
  border-color: #FD8078;
  color: #FD8078;
  background-image: url('./assets/exercise-active.svg');
}

h4 {
  margin: 0 0 8px 0;
}


.category-choice {
  padding-top: 38px;
  color: #FFF;
}


.middle-box {
  display:flex;
  flex-direction: column;
  margin-top: 60px;
}

span {
  color: #FFF;
}

#activity-choice, #total-minutes, #total-seconds {
  background-color: #46424D;
  color: #CBC9CF;
  border: none;
  border-bottom: 1px solid #FFF;
}

.time-box {
  display: flex;
}

.time-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px;
}

#total-minutes {
  margin-right: 80px;
}

input {
  margin-top: 15px;
}

.start-activity-button {
  color: #46424D;
  align-self: flex-end;
  right: 85px;
  bottom: 100px;
  height: 36px;
  width: 200px;
  margin-top: 50px;
  border-radius: 5px;
}
.right-text {
  color: #CBC9CF;
  text-align: center;
}
